<!DOCTYPE html>
<html lang="en">
<head>
	<title>JavaScript code challenge</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="css/uikit.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

<div id="app">
	<div class="uk-container">
		<nav class="uk-navbar-container" uk-navbar>
			<router-link to="/" class="uk-navbar-item uk-logo">
				<img src="img/logo.png" width="50">
			</router-link>
		    <div class="uk-navbar-right">
		        <ul class="uk-navbar-nav uk-visible@m">
		        	<li>
		        		<router-link to="/">Главная</router-link>
		        	</li>
		            <li>
		            	<router-link to="/tasks">Задания</router-link>
		            </li>
		        </ul>
		        <ul class="uk-navbar-nav uk-hidden@m">
		            <li>
		            	<a v-on:click.prevent="showMobileNav"><span uk-icon="icon: table; ratio: 2;"></span></a>
		            </li>
		        </ul>
		    </div>
		</nav>
		<transition name="slide">
			<div class="mobile-nav" v-if="mobileNav" v-on:click="mobileNav = false">
				<ul class="mobile-nav__items">
					<li class="mobile-nav__item">
						<router-link to="/">Главная</router-link>
					</li>
			        <li class="mobile-nav__item">
			        	<router-link to="/tasks">Задания</router-link>
			        </li>
			    </ul>
			</div>
		</transition>
		<router-view></router-view>
	</div>
</div>

<template id="home">
	<div class="uk-margin-large-top" uk-grid>
		<div class="uk-width-1-1 uk-text-center uk-width-1-2@m uk-text-left@m">
			<div class="">#1 ДЛЯ ЗАДАЧ ПО JAVASCRIPT'У И ПОДГОТОВКИ ИНТЕРВЬЮ</div>
		<h1 class="uk-heading-primary uk-margin-large-bottom header">Совершенствуйте свои навыки JavaScript'a</h1>
		<div class="uk-button uk-button-default uk-button-large">Попробовать</div>
		</div>
		<div class="uk-width-1-2 uk-visible@m">
			<img src="img/code.jpg">
		</div>
	</div>
</template>

<template id="tasks">
	<div>
		<task-link v-for="(task, index) in $root.tasks" :item="task" :index="index"></task-link>
	</div>
</template>

<template id="task">
	<task :item="$root.tasks[$route.params.id]"></task>
</template>

<template id="task-body">
	<div class="task" uk-grid>
		<div class="uk-width-1-1 uk-width-1-2@m">
			<ul class="uk-child-width-expand uk-margin-top" uk-tab>
			    <li :class="this.$root.tab === 'task' && 'uk-active'" v-on:click="switchTab('task')"><a href="">Задание</a></li>
			    <li :class="this.$root.tab === 'result' && 'uk-active'" v-on:click="switchTab('result')"><a href="">Результат тестов</a></li>
			</ul>
			<div v-show="this.$root.tab === 'task'">
				<h3 class="uk-margin-top">{{ item.caption }}</h3>
				<p class="uk-margin-top uk-text-small">{{ item.description }}</p>
				<hr>
				<p class="uk-margin-top uk-text-small">Пример теста</p>
				<div class="uk-card uk-card-default uk-margin-top uk-margin-bottom uk-padding-small uk-text-small">
					<div v-for="(test, index) in item.tests.slice(0, 3)" :class="index > 1 || 'uk-margin-bottom'">
						<div>
							<span>Ввод:</span> {{ test.input }}
						</div>
						<div>
							<span>Вывод:</span> {{ test.output }}
						</div>
					</div>
				</div>
			</div>
			<div v-show="this.$root.tab === 'result'">
				<h3 class="uk-margin-top">Результат тестов</h3>
				<div class="uk-card uk-card-default uk-margin-top uk-margin-bottom uk-padding-small uk-text-small" v-if="testResults">
					<div v-for="(testResult, index) in testResults" :class="testResult.status ? 'uk-alert-success' : 'uk-alert-danger'">
						<div :class="index >= testResults.length - 1 || 'uk-margin-bottom'" class="uk-padding-small">
							<div>
								<span>Ожидается:</span> {{ testResult.output }}
							</div>
							<div>
								<span>Вывод:</span> {{ testResult.return }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="uk-width-1-1 uk-width-1-2@m">
			<editor identifier="code" :item="item" :index="$route.params.id" class="uk-margin-top"></editor>
			<div class="uk-margin-top">
				<div class="uk-margin-remove" uk-grid>
					<div class="uk-width-1-2 uk-padding-remove">
						<div class="uk-button uk-button-default uk-button-large uk-width-1-1" v-on:click="firstTest">Проверка (1 тест)</div>
					</div>
					<div class="uk-width-1-2 uk-padding-remove">
						<div class="uk-button uk-button-default uk-button-large uk-width-1-1" v-on:click="allTests">Запуск (Все тесты)</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template id="task-link-body">
	<div v-on:click="switchTab('task')">
		<router-link :to="'/task/' + index" class="uk-card uk-card-default uk-card-small uk-card-body uk-margin-small-top uk-flex uk-flex-between uk-link-reset">
			<p class="uk-position-relative uk-margin-remove">{{ item.caption }}</p>
			<span class="uk-label uk-label-success status-task" v-if="item.status">
				<span class="uk-visible@m">Выполнено</span>
				<span class="uk-hidden@m" uk-icon="check"></span>
			</span>
			<span class="uk-label uk-label-danger status-task" v-if="!item.status">
				<span class="uk-visible@m">Не выполнено</span>
				<span class="uk-hidden@m" uk-icon="close"></span>
			</span>
		</router-link>
	</div>
</template>

<template id="editor-body">
	<div class="editor-container">
		<div :id="identifier" class="editor-field">{{ item.function.body }}</div>
	</div>
</template>


<script src="js/uikit.min.js"></script>
<script src="js/uikit-icons.min.js"></script>
<script src="js/ace.js"></script>
<script src="js/vue.min.js"></script>
<script src="js/vue-router.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>